

.fab {
    color: #333; /* Change the color as desired */
    margin: 0 10px; /* Adjust spacing as needed */
}

.profile-img {  
    width: 300px; /* Adjust size as needed */  
    height: 300px;  
    border-radius: 50%;  
    object-fit: cover;  
    margin-top: 20px; /* Adjust spacing as needed */
}

.skill-level {
    font-size: smaller;
    font-style: italic;
    color: #6c757d; 
}

.list-unstyled li {
    margin-top: 10px; /* Adjust the value as needed */
}